@import url(http://fonts.googleapis.com/css?family=Raleway);
html,
body{
  font-family: 'Raleway', 'sans-serif';
  }
button{
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  margin-left: 15px;
  padding: 0;
  }

.logo{
  height: 50px;
  width: auto;
  position: absolute;
  top: 10px;
  left: 10px;
  }


/*
 * DEMO AREA
 */

.landing-text{
  margin: 0;
  padding: 0 10px;
  padding-top: 15px;
  text-align: right;
  }
  .site-name,
  .slogan{
    margin: 0;
    display: inline;
    padding-top: 25px;
    }
  .slogan{
    font-size: 15px;
    }
  .site-name{
    font-size: 30px;
    }

.wasabi-code{
  height: 100vh;
  background-color: #ade183;
  position: relative;
  }
#wasabi-editor{
  max-width: 100%;
  margin: auto;
}
.mimic-editor{
  background: #333333;
  color: rgba(255,255,255,0.7);
  font-family: monospace;
  margin: auto;
  width: 100%;
  overflow: hidden;
  margin-top: 15px;
  }
  @media (max-width: 1700px){
    .mimic-editor{
      border-radius: 0px;
      }
  }
  .mimic-editor .static-area,
  .mimic-editor #demo-area {

    }
  .mimic-editor #demo-area{
    font-size: 15px;
    padding: 10px;
    padding-top: 20px;
    padding-left: 0;
    border: none;
    border-left: solid 20px #444;
    padding-left: 2px;
    width: 100%;
    background: inherit;
    color: inherit;
    min-height: 400px;
    height: 700px;
    }
textarea#demo-area::-moz-selection{
  background-color: #555;
  text-shadow: none;
  }
textarea#demo-area::selection{
  background-color: #555;
  text-shadow: none;
  }

.editor-prompt{
  display: inline-block;
  transform-origin: 100% 50%;
  transform: translateX(-90%) rotate(-90deg);
  transition-duration: .5s;
  font-size: 18px;
  opacity: .5;
  }
  #wasabi-editor:target .editor-prompt{
    font-size: 25px;
    opacity: 1;
    }

.example-buttons{
    width: auto;
    float: right;
    padding-top: 15px;
    padding-right: 10px;
  }
  .example-buttons button{
    border-radius: 5px;
    padding: 8px;
    color: #333333;
    font-weight: bolder;

    float: right;
    transition-duration: .5s;
    }
    #wasabi-editor.detailed #try-detailed{
      background: #333333;
      color: #ade183;
      }
    #wasabi-editor.indented #try-indented{
      background: #333333;
      color: #ade183;
      }
.small-screen-note{
  position: absolute;
  z-index: 50;
  bottom: 30px;
  left: 30px;
  display: none;
  }

.content-below-arrow{
  margin: 15px auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  border-right: solid 30px transparent;
  border-left: solid 30px transparent;
  border-top: solid 20px black;
  opacity: .25;
  }


@media (max-width: 1150px){
  .wasabi-code{
    background: none;
    box-shadow: none;
    }
  .demo-section{
    display: none;
    }
  .small-screen-note{
    display: block;
    }
  .output-area.columns{
    width: 100%;
    }
}


/*
 *
 * output area
 *
 */
#output-area{
  transition-duration: .5s;
  }
.output-area{
  transition-duration: .5s;
  position: fixed;
  z-index: 0;
  right: 0;
  top: 0;
  }

.dummy-documentation{
  opacity: 0;
  opacity: .2;
  max-width: 800px;
  padding: 0 50px;
  height: 100px;
  overflow: hidden;
  margin: auto;
  filter: blur(1.5px);
  }

@media (max-width: 1000px){
  .dummy-documentation{
    display: none;
    }
  .output-area.columns{
    }
}
