<style>
  .demo-items{
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    }
    .demo-item{
      display: inline-block;
      }
      .demo-item-link{
        display: block;
        width: 200px;
        height: 50px;
        line-height: 50px;

        text-align: center;

        opacity: .6;
        transition-duration: .2s;
        color: #555;
        text-decoration: none;
        text-decoration: none;
        }
        .demo-item-link.home-link{
          width: 100px;
          }
        .demo-item-link.active,
        .demo-item-link:hover{
          color: #222;
          background-color: #eee;
          opacity: 1;
          }
</style>

<nav class="">
  <ul class="demo-items">
    <li class="demo-item">
      <a href="{{ site.baseurl }}/" class="demo-item-link home-link">
        home
      </a>
    </li>
  {% for demo in site.demos %}
    <li class="demo-item">
      <a href="{{ site.baseurl }}{{demo.url}}"
         class="demo-item-link {% if demo == page %} active {% endif %}">
        {{demo.name}}
      </a>
    </li>
  {% endfor %}
  </ul>
</nav>
