---
layout: html
---
{% include header.html %}
<link rel="stylesheet" href="{{ site.baseurl }}/css/wasabi.css">
<div class="container">

{% include demo-header.html %}

<header class="demo-header">
  <h1 class="page-header">{{ page.name }}</h1>
  <p class="header-credits">
   documented with <a href="http://github.com/atstp/wasabi">wasabi</a>
  </p>
  <p class="page-description">{{ page.description }}</p>
</header>

<div id="wasabi-demo">
{{ content }}
</div>

</div>

{% include footer.html %}
<script src="{{ site.baseurl }}/js/wasabi.js"></script>
<script>
  new Wasabi.Project('wasabi-demo').replace();
</script>
